<footer>
    <hr>
    <h2>Contact</h2>
        <p>Email : lee.kok.uwl@gmail.com &nbsp;&nbsp; Telephone number : 
        1234-5678</p>
        <p>Copyright &copy; <%=copyYear%> Kevin</p>
</footer>
</html>